build/
.cache/
*.tmp
.idea/
cmake-build-debug/
.vscode/c_cpp_properties.json
.clangd
.flash_history
.flash_cache
.last_flashed_network
*.local.json
__pycache__/
.venv/
docs/
.ruff_cache/
tracex_dump.bin
visualizer_screenshots/
*.gen.ld
